---
docker:
  version: "28.0.1"

oneWire:
  http_server: localhost:4304
  master_device: /dev/ttyAMA0
  ports:
    http: 2121
    ftp: 2120

ha:
  ports:
    ui: 8123
  paths:
    root: "/usr/share/hassio/homeassistant"
  os_agent:
    # https://github.com/home-assistant/os-agent/releases
    version: "1.7.2"
  daemon:
    # https://github.com/home-assistant/supervised-installer/releases
    version: "3.0.0"
  # Community Store.
  cs:
    # Note: transformed into an absolute at the runtime.
    path: "custom_components/hacs"
    version: "2.0.5"

cloudflare:
  tunnel:
    # Edit only if it's changed on the Cloudflare side.
    tld: "cfargotunnel.com"
    # The local services to expose.
    ingress:
      - hostname: "one.example.com"
        service: "http://127.0.0.1:{{ ha.ports.ui }}"
      - hostname: "two.example.com"
        service: "http://192.168.68.57"
  account:
    id: ""
    # The DNS zone (the hostname's one).
    zone: ""
    # The API token with the following permissions:
    # - Account - Cloudflare Tunnel - Edit
    # - Zone - DNS - Edit
    token: ""
  package:
    src: https://pkg.cloudflare.com/cloudflared
    key:
      src: https://pkg.cloudflare.com/cloudflare-main.gpg
      dest: /usr/share/keyrings/cloudflare-main.gpg
