---
docker:
  version: "28.0.1"

oneWire:
  http_server: localhost:4304
  master_device: /dev/ttyAMA0
  ports:
    http: 2121
    ftp: 2120

ha:
  ports:
    ui: 8123
  paths:
    root: "/usr/share/hassio/homeassistant"
  os_agent:
    # https://github.com/home-assistant/os-agent/releases
    version: "1.7.2"
  daemon:
    # https://github.com/home-assistant/supervised-installer/releases
    version: "3.0.0"
  # Community Store.
  cs:
    # Note: transformed into an absolute at the runtime.
    path: "custom_components/hacs"
    version: "2.0.5"
  cloudflare:
    # The hostname for the internet access.
    hostname: ""
    account:
      id: ""
      # The DNS zone (the hostname's one).
      zone: ""
      # The API token with the following permissions:
      # - Account - Cloudflare Tunnel - Edit
      # - Zone - DNS - Edit
      token: ""
