# ------------------------------------------------------------------------------
# SOURCES
# ------------------------------------------------------------------------------
! server: server = {{ oneWire.http_server }}
server: device = {{ oneWire.master_device }}

# ------------------------------------------------------------------------------
# OWFS
# ------------------------------------------------------------------------------
mountpoint = /mnt/oneWire
allow_other

# ------------------------------------------------------------------------------
# HTTPD
# ------------------------------------------------------------------------------
http: port = {{ oneWire.ports.http }}

# ------------------------------------------------------------------------------
# FTPD
# ------------------------------------------------------------------------------
ftp: port = {{ oneWire.ports.ftp }}
